body {
	background-color: #afb7ca;
	background: linear-gradient(to right, #3a3d42, #a6aec1, #afb7ca, #eef2fa, #afb7ca, #a6aec1, #3a3d42);
}

#gamePage {
	display: none;
}

#startButton {
	width: 200px;
}

h1 {
font-family: 'Bungee Inline', cursive;
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	margin-top: 40px;
}

h2 {
	font-family: 'Bungee Inline', cursive;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #275ce4;
	margin-top: 40px;
}

h3 {
	font-family: 'Boogaloo', cursive;
	font-size: 40px;
	text-align: center;
}

h4, h5, h6 {
	text-align: center;
}

p {
	text-align: center;
	margin-top: 90px;
	font-family: 'Boogaloo', cursive;
}

.container {
	margin-top: 70px;
}

img {
	border-radius: 15px;

}

#currentWord {
    letter-spacing: 20px;
}

#pressKeyTryAgain {
	color: #ce5c5c;
}

#youwin-img,
#gameover-image {
	display: block;
}

